# Virtual environments
venv/
venv310/

# VS Code settings
.vscode/
*.code-workspace

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/

# Logs and system files
*.log
*.DS_Store
*.swp
Thumbs.db

# Jupyter/IPython notebooks (optional)
.ipynb_checkpoints/

